<div class="row" style="margin-top:-10px">
    <form action="/TransportOrder/Orders" method="post">
        <div class="">
            <label for="fromDate" style="margin-top:4px;display: inline;">From:</label>
            <input type="date" class="form-control" id="fromDate" name="fromDate" style="margin-left:5px;width: 150px;display: inline;">

            <label for="toDate" style="margin-top:4px;margin-left:20px;display: inline;">To:</label>
            <input type="date" class="form-control" id="toDate" name="toDate" style="margin-left:5px;width: 150px;display: inline;">

            <button type="submit" class="btn btn-primary" id="submit" style="margin-left:20px;margin-top: -5px;width: 100px;">Submit</button>
        </div>
    </form>
</div>