<div class="row" style="margin-top:-10px">
    <form action="/AdminTaskController/ViewUsers" method="post">
        <div class="">
            <label for="SearchUser" style="margin-top:4px;display: inline;">Search User :</label>
            <input type="text" class="form-control" id="SearchUser" name="SearchUser" style="margin-left:8px;width: 300px;display: inline;" placeholder="email or name">

            <button type="submit" class="btn btn-primary" id="submit" style="margin-left:20px;margin-top: -5px;width: 100px;">Submit</button>
        </div>
    </form>
</div>