<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Transport Management</title>
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <script src="./js/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <%- include('././partials/navbar.ejs') %>
        </header>
        <div class="container">
            <div class="row">
                <a type="button" class="btn btn-primary col-sm-2 offset-3" href="TransportOrder/Create">Create Transport Order</a>
                <a type="button" class="btn btn-primary col-sm-2 offset-1" href="TransportOrder/Orders">View Transport Orders</a>
            </div>
        </div>
    </body>
</html>